<!-- This is home.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">  <!-- Specifies a style sheet -->
{% extends "base.html" %} {% block title %}FAQ{% endblock %}

{% block content %}
<div align="center"><h1><b>FAQ</b></h1></div>

<div class="text-faq-container">
    <h2 class="faq-title">How do I add papers?</h2>
    <h4 class="faq-answer">In order to add a paper, get a link from Arxiv and paste it into the text field on the home page.</h4>

    <h2 class="faq-title">How do I remove papers?</h2>
    <h4 class="faq-answer">In order to remove a paper, click on the x icon next to its title.</h4>

    <h2 class="faq-title">How do I access the papers?</h2>
    <h4 class="faq-answer">The papers are linked to their source page on Arxiv. You can view the paper by clicking the title (<span style="color: blue;">highlighted in blue </span>).</h4>
</div>
{% endblock %}
