{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<h1 align="center">Your papers</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary" id="btn-add-read">Add paper you've read</button>
    <button type="submit" class="btn btn-primary" id="btn-add-to-read">Add paper to read</button>
  </div>
</form>
{% endblock %}
