<!-- This is home.html -->

{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content%}
<div align="center"><h1>Your papers</h1></div>

<div align="center" class="container-homepage">
  <form method="POST">
    <br />
    <div align="center">
      <textarea name="textfield-read" id="textfield-read" class="form-control"></textarea>
      <button type="submit" name="action" value="read" class="btn btn-primary" id="btn-add-read">Add a paper you've read</button>
    </div>
    <div align="center">
      <h2 class="papers_list">Papers read:</h2>
        {% for paper_read in user.papers_read %}
          <li class="list-group-item">

            <p>{{ paper_read.title }}</p>
            <p>{{ paper_read.authors }}</p>

            <form action="/delete-paper-read" method="POST" style="display: inline;">
              <input type="hidden" name="paperReadId" value="{{ paper_read.id }}">
              <button type="submit" name="deletionRead" value="{{ paper_read.id }}" class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </form>

          </li>
        {% endfor %}
    </div>
  </form>

  <form method="POST">
    <br />
    <div align="center">
      <textarea name="textfield-to-read" id="textfield-to-read" class="form-control"></textarea>
      <button type="submit" name="action" value="to-read" class="btn btn-primary" id="btn-add-to-read">Add a paper to read</button>
    </div>
    <div align="center">
      <h2 class="papers_list">Papers to read:</h2>
        {% for paper_to_read in user.papers_to_read %}
          <li class="list-group-item">

            <p>{{ paper_to_read.title }}</p>
            <p>{{ paper_to_read.authors }}</p>

            <form action="/delete-paper-to-read" method="POST" style="display: inline;">
              <input type="hidden" name="paperToReadId" value="{{ paper_to_read.id }}">
              <button type="submit" name="deletionToRead" value="{{ paper_to_read.id }}" class="close">
                <span aria-hidden="true">&times;</span>
              </button>
            </form>

          </li>
        {% endfor %}
    </div>
  </form>
</div>
{% endblock %}
