.container-homepage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.li-papers {
  word-wrap: break-word; /* Allows breaking long words to wrap inside the container */
  white-space: normal;   /* Ensures the text wraps instead of staying in one line */
  overflow-wrap: break-word; /* Alternative property for word breaking in modern browsers */
  width: 100%; /* 90% of the container width */
  justify-content: space-between; /* Ensure button stays inside */
  display: flex;
  min-height: 1%;
  align-items: flex-start; /* Align content to the start */
}

.button-papers {
  width: 100%; /* 100% of the container width */
  margin: 2vh 0vw 5vh 0vw;  /* Top, right, bottom, left margin */
}

.container-papers {
  min-width: 45%;
  max-width: 45%;
}

.hidden {
  opacity: 0%;
}

.user-container {
    width: 100%;
    display: flex;
    justify-content: center; /* Horizontal centering */
    margin: 2vh 0vw 2vh 0vw;  /* Top, right, bottom, left margin */
}

.container-userpage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.papers_list {
  text-align: center;
}

.ul-centered {
  list-style-type: none;   /* Removes bullet points */
  padding: 0;              /* Removes default padding */
  margin: 0;               /* Removes default margin */
}

.text-faq-container {
  width: 100%;
  margin: 3vh 0vw 3vh 0vw;  /* Top, right, bottom, left margin */
}

.faq-title {
  margin: 10vh 0vw 1vh 0vw;  /* Top, right, bottom, left margin */
}

.faq-answer {
  margin: 3vh 0vw 3vh 0vw;  /* Top, right, bottom, left margin */
}

.form-control {
  resize: none; /* Disables resizing */
}