.container-homepage {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.li-papers {
  word-wrap: break-word; /* Allows breaking long words to wrap inside the container */
  white-space: normal;   /* Ensures the text wraps instead of staying in one line */
  overflow-wrap: break-word; /* Alternative property for word breaking in modern browsers */
  width: 90%; /* 90% of the container width */
  justify-content: space-between; /* Ensure button stays inside */
  display: flex;
  min-height: 5%;
  align-items: flex-start; /* Align content to the start */
}
.button-papers {
  width: 90%; /* 90% of the container width */
}
.container-papers {
  min-width: 45%;
  max-width: 45%;
}
.hidden {
  opacity: 0%;
}